<html>
<head>
    <meta charset="UTF-8">
    <title>Kubernetes Demo</title>
    <link rel="stylesheet" href="/assets/animate.min.css" />
    <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>

    <div id="root"></div>

    <script src="/assets/main.js"></script>

</body>
</html>
